<!-- start custom footer snippets -->
<p>The <em><a href="http://www.thenandnow.us" style="color:#00b16a;">Then and Now</a></em> project examines three case studies of dispossession: the
  <em><a href="https://www.sullivanclinton.com" target="_blank" rel="noopener" style="color:#00b16a;">Sullivan-Clinton Campaign</a></em>,
  <em><a href="https://www.derryveagh.com" target="_blank" rel="noopener" style="color:#00b16a;">Derryveagh Evictions</a></em>, and
  <em><a href="https://www.stakedplains.com" target="_blank" rel="noopener" style="color:#00b16a;">Staked Plains</a></em>. This project is supported by the
  <em><a href="https://indigenousvalues.org" target="_blank" rel="noopener" style="color:#00b16a;">Indigenous Values Initative</a></em>.</p>
<!-- end custom footer snippets -->
