<!-- start custom head snippets -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SJJ2CMLBRC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SJJ2CMLBRC');
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!--Include Bob SEO-->

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "New York",
        "addressRegion": "NY",
        "postalCode": "10458",
        "streetAddress": "Private"
      },
      "colleague": [
        "https://adamdjbrett.com",
        "https://thecollege.syr.edu/people/faculty/arnold-philip-p/",
        "https://aila.ngo",
        "https://indigenousvalues.org"
      ],
      "email": "bob@sullivanclinton.com",
      "image": "https://www.sullivanclinton.com/images/robert-spiegelman-250x250.webp",
      "jobTitle": "Director",
      "name": "Robert Spiegelman",
      "alternateName": "Bob",
      "alumniOf": ["City University of New York",
      "University of Michigan",
      "Queens College City University of New York"],
      "birthPlace": "New York City",
      "gender": "Male",
      "memberOf": "Then and Now",
      "url": "https://www.sullivanclinton.com/bio/",
	    "sameAs" : [ "https://www.thenandnow.us/",
      "https://www.derryveagh.com/",
      "https://www.sullivanclinton.com/",
      "https://www.stakedplains.com/",
      "https://www.fordham.edu/info/23995/adjunct_faculty/6747/robert_spiegelman",
      "https://www.linkedin.com/in/spiegelman/"]
    }
    </script>

<!-- end custom head snippets -->
