
# Created by https://www.gitignore.io/api/jekyll
# Edit at https://www.gitignore.io/?templates=jekyll

### Jekyll ###
vendor/
_site/
.bundle/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.lock
Gemfile.lock


# End of https://www.gitignore.io/api/jekyll
